.app-header {
    background: #5e4b56;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 20px;
  }